[submodule "ansible-vertica"]
	path = ansible-vertica
	url = ../ansible-vertica
[submodule "ansible-role-clickhouse"]
	path = ansible-role-clickhouse
	url = ../../kostiantyn-nemchenko/ansible-role-clickhouse.git
[submodule "ansible-zookeeper"]
	path = ansible-zookeeper
	url = ../../sleighzy/ansible-zookeeper.git
[submodule "ansible-clickhouse-dp"]
	path = ansible-clickhouse-dp
	url = ../ansible-clickhouse-dp.git
